In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
filenames = []
for file in os.listdir('data'):
    filenames.append(os.path.join('data',file))

In [3]:
filenames[0:5]

['data\\1001349.yaml',
 'data\\1001351.yaml',
 'data\\1001353.yaml',
 'data\\1004729.yaml',
 'data\\1007655.yaml']

In [7]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([df, final_df], ignore_index=True)
        counter+=1
        
final_df

100%|█████████████████████████████████████████████████████████████████████████████▉| 1432/1433 [12:06<00:00,  1.97it/s]

NotImplementedError:

In [8]:
backup = final_df.copy()

In [9]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,...,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.match_type_number,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,Colombo,[2016-09-09],male,T20,4.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,NaN,[2016-09-06],male,T20,NaN,Australia,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,Dubai,[2016-02-03],male,T20,NaN,Netherlands,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,Mirpur,[2016-03-06],male,T20,8.0,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,Mirpur,[2016-03-04],male,T20,6.0,Pakistan,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],male,T20,NaN,Zimbabwe,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,Londonderry,[2016-09-05],male,T20,NaN,Hong Kong,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1429,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,NaN,[2017-02-22],male,T20,NaN,Australia,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,Victoria,[2017-02-19],male,T20,2.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,NaN,[2017-02-17],male,T20,5.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [7]:
final_df

,innings,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [24]:
final_df['info.gender'].value_counts()

male      966
female    466
Name: info.gender, dtype: int64

In [8]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

C:\Users\91842\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [11]:
final_df['info.match_type'].value_counts()

info.match_type
T20    1432
Name: count, dtype: int64

In [12]:
final_df['info.overs'].value_counts()

info.overs
20    1429
50       3
Name: count, dtype: int64

In [13]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

C:\Users\HP\AppData\Local\Temp\ipykernel_10660\3157072726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

,innings,info.city,info.dates,info.gender,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Colombo,[2016-09-09],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432
1,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2016-09-06],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431
2,"[{'1st innings': {'team': 'Netherlands', 'deli...",Dubai,[2016-02-03],male,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430
3,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",Mirpur,[2016-03-06],male,India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429
4,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Mirpur,[2016-03-04],male,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428
...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",NaN,[2016-06-18],male,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5
1428,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Londonderry,[2016-09-05],male,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4
1429,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-02-22],male,Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3
1430,"[{'1st innings': {'team': 'Australia', 'delive...",Victoria,[2017-02-19],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2
1431,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-02-17],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1

In [14]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [16]:
matches = pickle.load(open('dataset_level1.pkl','rb'))
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'extras': {'wides': 1},
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {0.3: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {0.4: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.5: {'batsman': 'TM Dilshan',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.6: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.7: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'TM Dilshan',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.1: {'batsman': 'TM Dilshan',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'TM Dilshan',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DA Warner'],
    'kind': 'caught',
    'player_out': 'TM Dilshan'}}},
 {1.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.6: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.1: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.2: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.3: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {2.4: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'MDKJ Perera',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {3.2: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.5: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.6: {'batsman': 'MDKJ Perera',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'MDKJ Perera',
   'bowler': 'GJ Maxwell',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.2: {'batsman': 'MDKJ Perera',
   'bowler': 'GJ Maxwell',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.3: {'batsman': 'DM de Silva',
   'bowler': 'GJ Maxwell',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {4.4: {'batsman': 'DM de Silva',
   'bowler': 'GJ Maxwell',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'DM de Silva',
   'bowler': 'GJ Maxwell',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'MDKJ Perera',
   'bowler': 'GJ Maxwell',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {5.1: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.2: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'MDKJ Perera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.3: {'batsman': 'MDKJ Perera',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'MDKJ Perera',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DA Warner'],
    'kind': 'caught',
    'player_out': 'MDKJ Perera'}}},
 {5.5: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'LD Chandimal',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.1: {'batsman': 'LD Chandimal',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.3: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.4: {'batsman': 'LD Chandimal',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'LD Chandimal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'LD Chandimal',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.1: {'batsman': 'LD Chandimal',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'caught and bowled', 'player_out': 'LD Chandimal'}}},
 {7.2: {'batsman': 'BKG Mendis',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'BKG Mendis',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.4: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'BKG Mendis',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.5: {'batsman': 'BKG Mendis',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.6: {'batsman': 'BKG Mendis',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.1: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'BKG Mendis',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.3: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.4: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'BKG Mendis',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'lbw', 'player_out': 'BKG Mendis'}}},
 {8.6: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.1: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'extras': {'legbyes': 1},
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {9.2: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {9.3: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.5: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.6: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.3: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.4: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.5: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.6: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.1: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {11.2: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.3: {'batsman': 'CK Kapugedera',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.4: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.5: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.6: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'CK Kapugedera',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.2: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.3: {'batsman': 'CK Kapugedera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DA Warner'],
    'kind': 'caught',
    'player_out': 'CK Kapugedera'}}},
 {12.4: {'batsman': 'NLTC Perera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'NLTC Perera',
   'bowler': 'A Zampa',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['TM Head'],
    'kind': 'caught',
    'player_out': 'NLTC Perera'}}},
 {12.6: {'batsman': 'DM de Silva',
   'bowler': 'A Zampa',
   'non_striker': 'SS Pathirana',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'SS Pathirana',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.2: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'extras': {'wides': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'DM de Silva',
   'bowler': 'MC Henriques',
   'non_striker': 'SS Pathirana',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.5: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.6: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {13.7: {'batsman': 'SS Pathirana',
   'bowler': 'MC Henriques',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'SS Pathirana',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'caught and bowled', 'player_out': 'SS Pathirana'}}},
 {14.2: {'batsman': 'S Prasanna',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'S Prasanna',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.5: {'batsman': 'S Prasanna',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.6: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {15.1: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.2: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.3: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.4: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.5: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.1: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'extras': {'wides': 1},
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {16.2: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {16.3: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'S Prasanna',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.6: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.7: {'batsman': 'S Prasanna',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {17.3: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.4: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'DM de Silva',
   'bowler': 'JP Faulkner',
   'non_striker': 'S Prasanna',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'S Prasanna',
   'bowler': 'JP Faulkner',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['UT Khawaja'],
    'kind': 'caught',
    'player_out': 'S Prasanna'}}},
 {18.1: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.2: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.3: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.4: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'extras': {'wides': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {18.5: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.6: {'batsman': 'DM de Silva',
   'bowler': 'JW Hastings',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.7: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'extras': {'noballs': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {18.8: {'batsman': 'SMSM Senanayake',
   'bowler': 'JW Hastings',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'extras': {'wides': 1},
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.2: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'DM de Silva',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.4: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.5: {'batsman': 'DM de Silva',
   'bowler': 'MA Starc',
   'non_striker': 'SMSM Senanayake',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['JP Faulkner'],
    'kind': 'caught',
    'player_out': 'DM de Silva'}}},
 {19.6: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'RAS Lakmal',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'SMSM Senanayake',
   'bowler': 'MA Starc',
   'non_striker': 'RAS Lakmal',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}]

In [19]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df, loop_df], ignore_index=True)

In [20]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Sri Lanka, Australia]",Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium
1,2,"[Sri Lanka, Australia]",Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium
2,2,"[Sri Lanka, Australia]",Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium
3,2,"[Sri Lanka, Australia]",Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium
4,2,"[Sri Lanka, Australia]",Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium
...,...,...,...,...,...,...,...,...,...,...
171505,1430,"[Australia, Sri Lanka]",Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground
171506,1430,"[Australia, Sri Lanka]",Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground
171507,1430,"[Australia, Sri Lanka]",Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground
171508,1430,"[Australia, Sri Lanka]",Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground
171509,1430,"[Australia, Sri Lanka]",Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground

In [21]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [22]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [23]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Sri Lanka, Australia]",Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
1,2,"[Sri Lanka, Australia]",Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
2,2,"[Sri Lanka, Australia]",Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium,Australia
3,2,"[Sri Lanka, Australia]",Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
4,2,"[Sri Lanka, Australia]",Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
...,...,...,...,...,...,...,...,...,...,...,...
171505,1430,"[Australia, Sri Lanka]",Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
171506,1430,"[Australia, Sri Lanka]",Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
171507,1430,"[Australia, Sri Lanka]",Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground,Sri Lanka
171508,1430,"[Australia, Sri Lanka]",Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
171509,1430,"[Australia, Sri Lanka]",Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [24]:
delivery_df.drop(columns=['teams'],inplace=True)

In [25]:
delivery_df['batting_team'].unique()

array(['Sri Lanka', 'Australia', 'Netherlands', 'Bangladesh',
       'United Arab Emirates', 'Pakistan', 'India', 'Afghanistan',
       'Hong Kong', 'Oman', 'Ireland', 'Zimbabwe', 'Papua New Guinea',
       'Scotland', 'West Indies', 'England', 'South Africa',
       'New Zealand', 'Nepal', 'Kenya', 'Canada', 'Bermuda', 'Bulgaria',
       'Romania', 'Isle of Man', 'Belgium', 'Germany', 'Austria',
       'Malaysia', 'Singapore', 'Thailand', 'Kuwait', 'Iran', 'Qatar',
       'Maldives', 'Bhutan', 'Vanuatu', 'Gibraltar', 'Spain', 'Portugal',
       'Namibia', 'Jersey', 'Nigeria', 'Botswana', 'Cayman Islands',
       'United States of America', 'China', 'Japan', 'Denmark',
       'Guernsey', 'Tanzania', 'Mali', 'Uganda', 'Norway', 'Italy',
       'Ghana', 'Samoa', 'Fiji', 'Indonesia', 'Sierra Leone',
       'Mozambique', 'Philippines', 'Lesotho', 'Malawi'], dtype=object)

In [26]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [27]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [28]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Sri Lanka,0.1,MDKJ Perera,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
1,2,Sri Lanka,0.2,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
2,2,Sri Lanka,0.3,MDKJ Perera,MA Starc,4,0,Colombo,R Premadasa Stadium,Australia
3,2,Sri Lanka,0.4,MDKJ Perera,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
4,2,Sri Lanka,0.5,TM Dilshan,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
...,...,...,...,...,...,...,...,...,...,...
171505,1430,Australia,19.3,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
171506,1430,Australia,19.4,JP Faulkner,KMDN Kulasekara,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
171507,1430,Australia,19.5,JP Faulkner,KMDN Kulasekara,1,TD Paine,NaN,Melbourne Cricket Ground,Sri Lanka
171508,1430,Australia,19.6,JP Faulkner,KMDN Kulasekara,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
171509,1430,Australia,19.7,JP Faulkner,KMDN Kulasekara,4,0,NaN,Melbourne Cricket Ground,Sri Lanka

In [29]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [30]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Sri Lanka,Australia,0.1,0,0,Colombo,R Premadasa Stadium
1,2,Sri Lanka,Australia,0.2,1,0,Colombo,R Premadasa Stadium
2,2,Sri Lanka,Australia,0.3,4,0,Colombo,R Premadasa Stadium
3,2,Sri Lanka,Australia,0.4,1,0,Colombo,R Premadasa Stadium
4,2,Sri Lanka,Australia,0.5,1,0,Colombo,R Premadasa Stadium
...,...,...,...,...,...,...,...,...
171505,1430,Australia,Sri Lanka,19.3,2,0,NaN,Melbourne Cricket Ground
171506,1430,Australia,Sri Lanka,19.4,1,0,NaN,Melbourne Cricket Ground
171507,1430,Australia,Sri Lanka,19.5,1,TD Paine,NaN,Melbourne Cricket Ground
171508,1430,Australia,Sri Lanka,19.6,2,0,NaN,Melbourne Cricket Ground
171509,1430,Australia,Sri Lanka,19.7,4,0,NaN,Melbourne Cricket Ground

In [31]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

In [105]:
output[output['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: venue, dtype: int64

In [106]:
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [107]:
output['city'] = x

<ipython-input-107-d2c7fa334a48>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['city'] = x

In [108]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [109]:
output.drop(columns=['venue'],inplace=True)

C:\Users\91842\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [110]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo
122,964,Sri Lanka,Australia,19.4,0,0,Colombo
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
124,964,Sri Lanka,Australia,19.6,2,0,Colombo
125,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [111]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [112]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,168
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,168
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,168
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,168
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,168
...,...,...,...,...,...,...,...,...
63883,964,Sri Lanka,Australia,19.3,1,0,Colombo,128
63884,964,Sri Lanka,Australia,19.4,0,0,Colombo,128
63885,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,128
63886,964,Sri Lanka,Australia,19.6,2,0,Colombo,128
63887,964,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [113]:
output['current_score'] = output.groupby('match_id').cumsum()['runs_x']

In [114]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [115]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [116]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [117]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')
output['player_dismissed'] = output.groupby('match_id').cumsum()['player_dismissed']
output['wickets_left'] = 10 - output['player_dismissed']

In [128]:
final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [129]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y
0,2,Australia,Sri Lanka,0,0,1,10,0.00,Melbourne,168
1,2,Australia,Sri Lanka,0,0,2,10,0.00,Melbourne,168
2,2,Australia,Sri Lanka,1,1,3,10,2.00,Melbourne,168
3,2,Australia,Sri Lanka,2,3,4,10,4.50,Melbourne,168
4,2,Australia,Sri Lanka,0,3,5,10,3.60,Melbourne,168
...,...,...,...,...,...,...,...,...,...,...
63883,964,Sri Lanka,Australia,1,125,117,2,6.41,Colombo,128
63884,964,Sri Lanka,Australia,0,125,118,2,6.36,Colombo,128
63885,964,Sri Lanka,Australia,0,125,119,1,6.30,Colombo,128
63886,964,Sri Lanka,Australia,2,127,120,1,6.35,Colombo,128
63887,964,Sri Lanka,Australia,1,128,121,1,6.35,Colombo,128

In [130]:
final_df = final_df.sample(final_df.shape[0])

In [131]:
final_df['balls_left'] = 120 - final_df['balls_bowled']
final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [132]:
final_df['crr'] = round((final_df['current_score']*6)/final_df['balls_bowled'],2)

In [133]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y,balls_left
13793,172,India,Australia,1,68,53,9,7.70,Bengaluru,190,67
37949,612,India,South Africa,1,110,80,6,8.25,Durban,168,40
44653,690,South Africa,India,1,83,60,9,8.30,Johannesburg,219,60
25707,481,India,Australia,1,22,27,10,4.89,Durban,188,93
28922,517,Sri Lanka,West Indies,4,84,51,10,9.88,Nottingham,192,69
...,...,...,...,...,...,...,...,...,...,...,...
7179,90,India,Sri Lanka,1,51,38,9,8.05,Cuttack,180,82
8878,107,Pakistan,West Indies,1,163,98,8,9.98,Karachi,205,22
54555,817,West Indies,New Zealand,1,79,73,8,6.49,Dominica,132,47
61066,917,England,Afghanistan,0,74,79,4,5.62,Delhi,142,41
22187,447,Sri Lanka,England,1,154,111,3,8.32,Southampton,163,9

In [134]:
final_df.drop(columns=['balls_bowled'],inplace=True)

In [135]:
groups = final_df.groupby('match_id')

In [136]:
match_ids = final_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs_x'].values.tolist())

In [137]:
final_df['last_five'] = last_five

In [138]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
13793,172,India,Australia,1,68,9,7.70,Bengaluru,190,67,NaN
37949,612,India,South Africa,1,110,6,8.25,Durban,168,40,NaN
44653,690,South Africa,India,1,83,9,8.30,Johannesburg,219,60,NaN
25707,481,India,Australia,1,22,10,4.89,Durban,188,93,NaN
28922,517,Sri Lanka,West Indies,4,84,10,9.88,Nottingham,192,69,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7179,90,India,Sri Lanka,1,51,9,8.05,Cuttack,180,82,52.0
8878,107,Pakistan,West Indies,1,163,8,9.98,Karachi,205,22,53.0
54555,817,West Indies,New Zealand,1,79,8,6.49,Dominica,132,47,53.0
61066,917,England,Afghanistan,0,74,4,5.62,Delhi,142,41,NaN
22187,447,Sri Lanka,England,1,154,3,8.32,Southampton,163,9,NaN

In [139]:
final_df.dropna(inplace=True)

In [140]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
9124,120,South Africa,Sri Lanka,0,98,0,5.88,Colombo,98,20,40.0
63029,954,Pakistan,India,4,62,3,4.65,Mirpur,83,40,40.0
29920,528,Sri Lanka,New Zealand,0,80,8,8.00,Nottingham,158,60,41.0
20468,422,Australia,India,1,23,10,11.50,Sydney,194,108,47.0
15147,223,South Africa,Australia,1,100,8,7.69,Port Elizabeth,158,42,42.0
...,...,...,...,...,...,...,...,...,...,...,...
28042,503,Australia,New Zealand,1,52,8,7.43,Sydney,150,78,53.0
59940,908,Pakistan,Bangladesh,1,78,9,9.55,Kolkata,201,71,54.0
7179,90,India,Sri Lanka,1,51,9,8.05,Cuttack,180,82,52.0
8878,107,Pakistan,West Indies,1,163,8,9.98,Karachi,205,22,53.0
54555,817,West Indies,New Zealand,1,79,8,6.49,Dominica,132,47,53.0

In [167]:
eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
final_df = final_df[final_df['city'].isin(eligible_cities)]

In [168]:
X = final_df.drop(columns=['match_id','runs_x','runs_y'])
y = final_df['runs_y']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [49]:
X_test

NameError: name 'X_test' is not defined

In [177]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [212]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [213]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9510644253049361
3.1411552178006943

In [50]:
teams

['Australia',
 'India',
 'Bangladesh',
 'New Zealand',
 'South Africa',
 'England',
 'West Indies',
 'Afghanistan',
 'Pakistan',
 'Sri Lanka']